<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>测试ui框架页面</title>
    <!-- 引入elementui.css -->
    <link rel="stylesheet" href="./lib/elementui/css/elementui.css">
    <!-- 引入重置样式 -->
    <link rel="stylesheet" href="./styles/reset.css">
    <!-- 引入自定义样式index.css -->
    <link rel="stylesheet" href="./styles/index.css">

</head>

<body>

    <!-- 准备dom -->
    <div id="app">
        <el-container>
            <!-- 右边部分 -->
            <el-container>
                <!-- 右边头部 -->
                <el-header>
                    <h1>欢迎您, admin</h1>
                    <p>查看详细的系统信息</p>
                </el-header>

                <!-- 右边主体 -->
                <el-main>
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <span>修改密码</span>
                        </div>
                        <div class="text item">
                            <!-- 添加账号表单内容 -->
                            <el-row>
                                <el-col :span="10">
                                    <div class="grid-content bg-purple">
                                        <!-- 添加账号表单 -->
                                        <el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm">

                                            <el-form-item label="旧的密码" prop="oldPass">
                                                <el-input type="text" v-model="ruleForm2.oldPass" auto-complete="off"></el-input>
                                            </el-form-item>

                                            <el-form-item label="新的密码" prop="newPass">
                                                <el-input type="text" v-model="ruleForm2.newPass" auto-complete="off"></el-input>
                                            </el-form-item>

                                            <el-form-item label="确认新密码" prop="ConfNewPass">
                                                <el-input type="text" v-model="ruleForm2.ConfNewPass"></el-input>
                                            </el-form-item>

                                            <el-form-item>
                                                <el-button type="success" @click="submitForm('ruleForm2')">修改</el-button>
                                                <el-button @click="resetForm('ruleForm2')">重置</el-button>
                                            </el-form-item>
                                        </el-form>

                                    </div>
                                </el-col>
                            </el-row>
                        </div>
                    </el-card>
                </el-main>

                <!-- 右边尾部 -->
                <el-footer>
                    <p>
                        &copy; copyright 2018 华联超市管理系统
                    </p>
                </el-footer>
            </el-container>
        </el-container>
    </div>

    <!-- 引入vue.js -->
    <script src="./lib/vue/vue.min.js"></script>
    <!-- 引入jquery -->
    <script src="./lib/jquery/jquery.min.js"></script>
    <!-- 引入elementui.min.js -->
    <script src="./lib/elementui/js/elementui.min.js"></script>

    <script>
        // 创建vue实例
        new Vue({
            el: '#app',
            data() {
                // 检测密码的一致性的函数
                var validatePass2 = (rule, value, callback) => {
                    if(value === '') {
                        callback(new Error('请再次输入新密码'));
                    } else if(value !== this.ruleForm2.newPass) {
                        callback(new Error('两次输入密码不一致!'));
                    } else {
                        callback();  // 成功的回调
                    }
                };
                
                // 自定义检测旧密码是否正确
                var checkOldPass = (rule, value, callback) => {
                    // 如果为空 给出相对应的提示
                    if (value == "") {
                        callback(new Error('请输入旧密码!'));
                    };

                    if (value.length < 6 || value.length > 18) {
                        callback(new Error('长度在 6 到 18 个字符!'));
                    };

                    // 发送请求 把vaule（旧密码）发送给后端，验证是否存在
                    $.post('/users/checkOldPass', {"oldPass": value}, function (data) {
                        if (data.errcode == "1") {
                            callback(); // 正确的回调
                        } else {
                            callback(new Error('旧密码输入错误！'));
                        }
                    })
                };
                return {
                    // 验证数据
                    ruleForm2: {
                        oldPass: '',
                        newPass: '',
                        ConfNewPass: '',
                    },
                    // 验证规则
                    rules2: {
                        oldPass: [
                            { required: true, validator: checkOldPass,trigger: 'blur' }
                        ],
                        newPass: [
                            { required: true,message: '请输入新的密码',trigger: 'blur' },
                            { min: 6,max: 18,message: '长度在 6 到 18 个字符',trigger: 'blur' }
                        ],
                        ConfNewPass: [
                            { required: true, validator: validatePass2, trigger: 'blur' }
                        ]
                    }
                };
            },
            // 生命周期钩子函数
            created () {
                
            },
            methods: {
                // 提交
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if(valid) {
                            // 当所有验证通过 发送ajax 把新密码发送给后端
                            $.post('/users/passEdit', {"newPass": this.ruleForm2.newPass}, function (data) {
                               if (data.errcode == "1") {
                                   alert(data.msg);
                                    // 密码修改成功 跳转到登录页面
                                    window.top.location.href = "./login.html";
                               } else {
                                   alert(data.msg);
                               }
                            })
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
                // 重置
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                }
            }
        })

    </script>

</body>

</html>